.root, 
.dishs_container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

