.root {
    position: absolute;
    top: 30%;
    left: 40%;
    z-index: 100;
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 3px;
    border: 1px solid #b12816;
    box-shadow: 0px 7px 16px -3px rgba(0,0,0,0.5);
    background: #bc3220;
}

.input_row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    align-self: center;
}

.input_title {
    width: 30%;
    font-size: 20px;
}

.input {
    height: 30px;
    width: 70%;
    border: 0;
    text-shadow: 1px 1px 1px #232323;
    border-radius: 10px;
}


