.root {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 0 20px;
    top: 0;
    position: sticky;
    z-index: 10;

    .logo {
        height: 75px;
        width: 75px;
        border-radius: 10px;
    }      
}



